# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Production
build

# Environment variables
.env*
!.env.example

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
.venv
.git
.envs/
node_modules
.oscar
.lock
.sock

*.md
dist
